/* typography.css */

html {
  font-size: 16px; /* Sets a base font size */
}

body {
  font-family: Arial, sans-serif; /* Set a default sans-serif font */
  line-height: 1.6;
  font-weight: 400;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

/* Paragraphs */
p {
  margin-bottom: 1em;
}

/* Links */
a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Lists */
ul,
ol {
  margin: 1em 0;
  padding-left: 1.5em;
  list-style-type: none;
}

ul li,
ol li {
  margin-bottom: 0.5em;
}
