@import url("../styles/variables.css");

html {
  background-color: var(--site-background-color);
  color: var(--site-font-color);
  position: relative;
}
.main {
  max-width: 1440px;
  margin: 0 auto;
}
.active-modal {
  overflow-y: hidden;
}
